.tag-chip {
    -fx-border-radius: 1em;
    -fx-background-radius: 1em;
    -fx-background-color: lightgray;
    -fx-padding: 2;
}

.tag-chip > .label {
    -fx-padding: 0 1em 0 1em;
}

.tag-chip > .button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.tag-chip > .button .image-view {
    -fx-fit-width: 1.4em;
    -fx-fit-height: 1.4em;
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;
}

.end-marker {
    -fx-border-color: red;
    -fx-background-color: red;
}