.task-item {
    -fx-background-color: whitesmoke;
    -fx-border-color: lightgrey;
}

.task-item .label {
    -fx-text-fill: black;
}

.task-item:focused {
    -fx-border-color: dodgerblue;
}

.task-item:completed {
    -fx-background-color: lightgrey;
    -fx-border-color: darkgrey;
}

.task-item:completed .label {
    -fx-text-fill: white;
}

.task-item:completed:focused {
    -fx-border-color: dodgerblue;
}