.list-cell .task-item {
    -fx-background-color: whitesmoke;
    -fx-border-color: lightgrey;
    -fx-border-insets: 1px;
    -fx-border-width: 2px;
}

.list-cell .task-item .label {
    -fx-text-fill: black;
}

.list-cell .task-item:completed {
    -fx-background-color: lightgrey;
    -fx-border-color: lightgrey;
}

.list-cell .task-item:completed .label {
    -fx-text-fill: black;
}

.list-cell:filled:selected .task-item {
    -fx-border-color: darkgrey;
}

.list-view:focused .list-cell:filled:selected .task-item {
    -fx-border-color: dodgerblue;
}