# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
/marquee-core/build/
/marquee-gui/build/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# Temp files
_temp/
